.all{
    display: flex;
 z-index: 0;

   
}
.film{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px;
}
.button{
        padding: 8px 24px;
        gap: 10px;
        width: 161px;
        height: 40px;
        background-color: #323537;
        border-radius: 40px;
        font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            border: none;
            text-align: center;
          

}
.buttonAll{
    display: flex;
    justify-content: center;
    margin-top:64px ;
}