.rec {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;

    color: #FFFFFF;
}

.main {
    display: flex;
    float: right;
    width: 1184px;
    justify-content: space-between;
    margin-right: 85px;
}

.recom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    width: 1184px;
    float: right;
    margin-right: 85px;
   
}

.bt {
    border: none;
    background-color: black;
}